body p{font-family: "Roboto",Arial, Helvetica, sans-serif!important;}

.bar-tab .tab-item.active,.bar-tab .tab-item:active {
	color: #7f7f7f!important;
}
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='text'],textarea {
	-webkit-appearance: none;
	border-radius: 0;
}
a:active{color:white!important;}
/**************************常用**************************/
.invisible{visibility: hidden} .ofh{overflow:hidden} .tac{text-align: center;}  .tal{text-align: left!important;}  .tar{text-align: right;}  .z99{z-index: 9999}  .noBorder{border:none!important;}  .displayNone{display: none;}
.fl{float: left;}   .fr{float: right !important;}  .underline{text-decoration:underline;}  .bsb{box-sizing: border-box}
.text2em{text-indent: 2em !important;}  .center{margin:0 auto}  .bold{font-weight: bold!important;} .weight600{font-weight: 600;}  .curp{cursor: pointer}  .curd{cursor: default}
.dist{display: table} .distc{display: table-cell} .inlineb{display: inline-block;}  .disib{display: inline-block!important;} .block{display: block!important;}  .none{display: none !important;}  .clear{zoom:1;height:0;clear:both;}   .clear:after{content: "";display: block;}
.mt_1{margin-top: -1px;} .mt_5{margin-top: -5px;} .mt_10{margin-top: -10px;} .mt_20{margin-top: -20px;}  .mt5{margin-top: 5px;} .mt10{margin-top: 10px!important;} .mt11{margin-top: 11px;}.mt12{margin-top: 12px;} .mt14{margin-top: 14px;}.mt15{margin-top: 15px;} .mt16{margin-top: 16px!important;} .mt18{margin-top: 18px;}  .mt20{margin-top: 20px!important;}  .mt22{margin-top: 22px;}  .mt25{margin-top: 25px!important;} .mt28{margin-top: 28px!important;} .mt30{margin-top: 30px!important;}   .mt35{margin-top: 35px}  .mt40{margin-top:40px!important;} .mt42{margin-top:42px!important;} .mt45{margin-top: 45px} .mt48{margin-top:48px;} .mt50{margin-top:50px!important;}    .mt60{margin-top:60px;}  .mt65{margin-top: 65px !important;} .mt70{margin-top:70px;}  .mt75{margin-top: 75px;} .mt80{margin-top:80px;}  .mt85{margin-top:85px;} .mt100{margin-top: 100px!important;} .mt110{margin-top:110px;} .mt130{margin-top:130px;} .mt125{margin-top:125px;}  .mt140{margin-top:140px;}  .mt150{margin-top:150px!important;}  .mt177{margin-top:177px;}  .mt188{margin-top:188px;}  .mt220{margin-top: 220px}
.mt3{margin-top: 3px;} .mb5{margin-bottom: 5px;}.mb10{margin-bottom: 10px;} .mb11{margin-bottom: 11px;}  .mb15{margin-bottom: 15px;}  .mb20{margin-bottom: 20px;}  .mb25{margin-bottom: 25px!important;} .mb30{margin-bottom: 30px;} .mb34{margin-bottom: 34px;} .mb40{margin-bottom: 40px;} .mb58{margin-bottom: 58px;}  .mb53{margin-bottom: 53px;}  .mb70{margin-bottom: 70px;} .mb80{margin-bottom: 80px;}   .mb100{margin-bottom: 100px!important;}
.ml3p{margin-left: 3%}  .ml_4{margin-left: -4px;} .ml_15{margin-left: -15px;}  .ml_40{margin-left: -40px;}  .ml_130{margin-left: -130px;}  .ml_60{margin-left: -60px;}  .ml5{margin-left: 5px;}  .ml10{margin-left: 10px;} .ml14{margin-left: 14px;}  .ml16{margin-left: 16px;}  .ml20{margin-left: 20px;}  .ml25{margin-left: 25px;} .ml30{margin-left: 30px;}  .ml33{margin-left: 33px;} .ml35{margin-left: 35px;}  .ml40{margin-left: 40px;} .ml60{margin-left:60px;} .ml90{margin-left: 90px;} .ml45{margin-left:45px;} .ml94{margin-left:94px;}  .ml80{margin-left:80px!important;}  .ml85{margin-left:85px!important;} .ml90{margin-left:90px;}  .ml100{margin-left:100px;}  .ml120{margin-left:120px;} .ml124{margin-left:124px;}  .ml140{margin-left: 140px} .ml182{margin-left: 182px}  .ml200{margin-left: 200px;}  .ml350{margin-left: 350px}
.ml19p{margin-left: 19%}
.ml2{margin-left: 2px} .ml10{margin-left: 10px;} .ml7{margin-left: 7px;}  .ml20{margin-left: 20px;}  .ml30{margin-left: 30px;}  .ml40{margin-left: 40px;}  .ml45{margin-left:45px;}  .ml50{margin-left:50px;} .ml55{margin-left:55px;} .ml80{margin-left:80px;} .ml60{margin-left:60px!important;}  .ml73{margin-left: 73px}  .ml76{margin-left:76px!important;}  .ml70{margin-left: 70px;} .ml80{margin-left:80px!important;}  .ml90{margin-left:90px;}  .ml100{margin-left:100px;}  .ml110{margin-left:110px;}  .ml115{margin-left:115px;}  .ml120{margin-left:120px;}  .ml128{margin-left:128px;}  .ml130{margin-left:130px;}  .ml140{margin-left: 140px}  .ml145{margin-left: 145px}  .ml150{margin-left: 150px}   .ml154{margin-left: 154px}  .ml160{margin-left: 160px} .ml168{margin-left: 168px}  .ml180{margin-left: 180px} .ml100{margin-left:100px;}  .ml120{margin-left:120px;}  .ml140{margin-left: 140px}  .ml160{margin-left: 160px}  .ml190{margin-left: 190px}  .ml200{margin-left: 200px}  .ml350{margin-left: 350px}  .ml265{margin-left: 265px} .ml280{margin-left: 280px}  .ml185{margin-left: 185px}  .ml205{margin-left: 205px}  .ml210{margin-left: 210px}  .ml222{margin-left: 222px}
.mr5{margin-right: 5px;}  .mr15{margin-right: 15px} .mr20{margin-right: 20px} .mr70{margin-right: 70px;}  .mr75{margin-right: 75px;}  .mr18{margin-right: 18.5%}  .mr6{margin-right: 6px} .mr10{margin-right: 10px} .mr30{margin-right: 30px}  .mr40{margin-right: 40px!important;} .mr50{margin-right: 50px!important;}  .mr90{margin-right: 90px;}  .mr230{margin-right: 230px}
.p10{padding:10px;}.p15{padding:15px;} .ptb100{padding:100px 0;} .pl05r{padding-left: 0.5rem}
.pl0{padding-left:0px !important;}.pl10{padding-left: 10px!important;}  .pl30{padding-left: 30px}  .pl35{padding-left: 35px} .p20{padding:20px;}
.pl15{padding-left: 15px;} .pl20{padding-left: 20px;}  .pl40{padding-left: 40px;}  .pl50{padding-left: 50px} .pl60{padding-left: 70px;} .pl70{padding-left: 70px;}  .pl80{padding-left: 80px}   .pl90{padding-left: 90px}  .pl105{padding-left: 105px}  .pl136{padding-left: 136px} .pl220{padding-left: 220px}
.pr20{padding-right:20px;} .pr30{padding-right:30px;} .pr60{padding-right:60px;}
.plr5{padding:0 5px;} .plr10{padding: 0 10px !important;}  .plr15{padding: 0 15px;} .plr30{padding: 0 30px;}
.pt10{padding-top: 10px} .pt27{padding-top: 27px;} .pt145{padding-top: 145px} .pt215{padding-top: 215px} .pt90{padding-top: 90px} .pt165{padding-top: 165px}  .pt182{padding-top: 182px} .pt7{padding-top: 7px;} .pt20{padding-top: 20px;} .pt25{padding-top: 25px;} .pt30{padding-top: 30px;}  .pt40{padding-top: 40px;}  .pt50{padding-top: 50px;} .pt54{padding-top: 54px;}  .pt60{padding-top: 60px;}  .pt68{padding-top: 68px;}  .pt90{padding-top: 90px}
.pb10{padding-bottom: 10px;} .pb30{padding-bottom:30px;} .pb14{padding-bottom: 14px;} .pb15{padding-bottom: 15px;} .pb20{padding-bottom: 20px;}  .pb27{padding-bottom: 27px} .pb40{padding-bottom: 40px;} .pb57{padding-bottom: 57px;}  .pb70{padding-bottom: 70px;}  .pb120{padding-bottom: 120px;} .pb130{padding-bottom: 130px;} .pb145{padding-bottom: 145px;}  .pb370{padding-bottom: 370px}
.lh5{line-height:5px;} .lh10{line-height:10px;}  .lh15{line-height:15px;}.lh18{line-height: 18px;} .lh20{line-height:20px;}   .lh22{line-height: 22px;}  .lh24{line-height: 24px;} .lh26{line-height: 26px;} .lh28{line-height: 28px;}  .lh30{line-height: 30px!important;} .lh32{line-height: 34px;} .lh34{line-height:34px!important;} .lh36{line-height: 36px !important;}  .lh38{line-height: 38px;} .lh40{line-height: 40px !important;} .lh42{line-height: 42px;} .lh50{line-height: 50px;}  .lh45{line-height: 45px!important;} .lh64{line-height: 64px} .lh70{line-height: 70px}  .lh80{line-height: 80px} .lh146{line-height: 146px;}
.height170{height: 170px;} .height184{height: 184px;} .height134{height: 143px;} .height340{height: 340px;}  .h200{height:200px}  .h255{height:255px;}
.h1{height:1px  } .h8{height:8px}  .h10{height:10px} .h20{height:20px} .h24{height:24px} .h28{height:28px;}  .h34{height:34px!important;} .h36{height:36px}  .h38{height:38px} .h40{height:40px !important;}.h44{height:44px !important;} .h45{height:45px !important;}  .h47{height:47px} .h50{height:50px!important;} .h30{height:30px!important;}.h64{height:64px !important;}  .h70{height:70px} .h80{height:80px} .h90{height:90px} .h110{height:110px}  .h140{height:140px;}  .h160{height:160px;}  .h100p{height:100%}  .h238{height:238px}


/***************************长度width  高度  border-radius***********************/
.w1200{width:1200px;} .w120{width:120px!important;} .w125{width:125px!important;} .w140{width:140px!important;}  .w150{width:150px} .w164{width: 164px;} .w70{width:70px;} .w80{width:80px;!important;} .w200{width:200px;} .w215{width:215px;} .w220{width:220px!important;} .w230{width:230px!important;} .w240{width:240px!important;} .w246{width:246px} .w255{width:255px} .w260{width:260px} .w270{width:270px;} .w280{width:280px;} .w287{width:287px;} .w305{width:305px} .w320{width:320px} .w340{width:340px}.w385{width:385px} .w500{width:500px} .w720{width:720px;}  .w630{width:630px}  .w690{width:665px} .w600{width:600px}
.w30{width: 30px;}.w40{width: 40px;} .w48{width: 48px;} .w65{width:65px;} .w74{width:74px;} .w100{width: 100px!important;}  .w110{width: 110px!important;}  .w120{width:120px!important;}  .w130{width:130px;}  .w154{width:154px;} .w160{width:160px;} .w180{width:180px;}  .w185{width:185px;}  .w190{width:190px}   .w285{width:285px} .w290{width:290px} .w300{width:300px;} .w800{width:800px !important;}  .w875{width:875px} .w330{width:330px!important;}  .w80{width:80px!important;} .w84{width:84px!important;} .w90{width:90px;}  .w226{width:226px;} .w365{width:365px!important;} .w390{width:390px} .w400{width:400px!important;}   .w530{width:530px;} .w860{width:860px!important;}
.w20p{width:20%} .w32p{width:32%}  .w33p{width:33%}  .w36p{width:36%} .w48p{width:48%}  .w50p{width:50%}  .w60p{width:60%}  .w64p{width:64%} .w66p{width:66%}  .w67p{width:67%} .w70p{width:70%} .w80p{width:80%!important;}.w82p{width:82%;}  .w100p{width:100%!important;}  .w75p{width:75%}  .w77p{width:77%} .w88p{width:88%;}  .w91p{width:91%;}   .w94p{width:94%;}  .w97p{width:97%;}
.mw80{min-width: 80px;}  .mw110{min-width:110px;}
.mh480{min-height:480px;} .mh490{min-height:490px;}   .mh600{min-height: 600px;}
.h_auto{height: auto !important;}
.ver_top{vertical-align: top !important;}
.hidden{overflow: hidden;}
.br4{border-radius: 4px!important;} .br5{border-radius: 5px!important;} .br6{border-radius: 6px;}  .br50p{border-radius: 50%}
/***************************长度width  高度  border-radius***********************/

/***************************字体、缩进、间距***********************/
.Roboto{font-family: "Roboto",Arial, Helvetica, sans-serif}  .styleItalic{font-style: italic}

.f12{font-size: 12px!important;} .f10{font-size: 10px;} .f14{font-size: 14px !important;}  .f15{font-size: 15px!important;}  .f16{font-size: 16px!important;}  .f18{font-size: 18px!important;}  .f20{font-size: 20px !important;} .f22{font-size: 22px !important;} .f24{font-size: 24px !important;}  .f26{font-size: 26px!important;} .f28{font-size: 28px!important;}  .f30{font-size:30px!important;} .f32{font-size:32px!important;} .f35{font-size: 35px!important;} .f36{font-size:36px!important;} .f39{font-size: 39px!important;} .f40{font-size: 40px} .f42{font-size: 42px !important;} .f44{font-size: 44px !important;} .f48{font-size: 48px !important;} .f50{font-size: 50px!important;} .f55{font-size: 55px!important;} .f68{font-size: 68px !important;}  .f80{font-size: 80px!important;}
.ls_5{letter-spacing: -5px} .ls03{letter-spacing: 0.3px} .ls2{letter-spacing: 2px}
.ti{text-indent: 2.5em} .wordBreakAll{word-break: break-all}  .fwn{font-weight: normal!important;}  .italic{font-style:italic}
/***************************字体、缩进、间距***********************/

/***************************定位left、top***********************/
.por{position: relative;} .poa{position: absolute;}
.t1{top:1px;} .t3{top:3px;} .t5{top:5px;}  .t_5{top:-5px;}.t_10{top:-10px;}  .t8{top:8px}  .t12{top:12px} .t15{top:15px}  .t20{top:20px;} .t_20{top:-20px;} .t25{top:25px} .t26{top:26px}  .t31{top:31px;} .t35{top:35px} .t38{top:38px;}  .t34{top:34px}  .t36{top:36px} .t48{top:48px}  .t52{top:52px} .t60{top:60px} .t68{top:68px} .t74{top:74px} .t116{top:116px} .t445{top:445px}.t498{top: 498px}
.l50p{left:50%} .l2{left:2px}  .l12{left:12px} .l17{left:17px} .l20{left:20px} .l26{left:26px}  .l30{left:30px} .l36{left:36px} .l95{left:95px} .l100{left:100px} .l106{left:106px} .l120{left:120px} .l135{left:135px} .l165{left:165px} .l185{left:185px} .l205{left:205px;}  .l225{left:225px} .l280{left:280px;} .l400{left:400px;} .l_172{left: -172px;} .l_190{left: -190px;} .l_200{left: -200px;} .l_226{left: -226px;} .l_235{left: -235px;}  .l_275{left: -275px;} .l_300{left: -300px;}  .l82{left:82px}  .l380{left:380px;} .l480{left:480px;}  .l511{left:511px;}
.r2p{right:2%;}.r68{right:68px;} .r55{right:55px} .r10{right:10px} .r172{right:172px;} .r_265{right:-265px} .r_7{right:-7px} .r_15{right:-15px}
.b_20{bottom:-20px} .b_16{bottom:-16px}  .b_30{bottom:-30px}  .b_55{bottom:-55px} .b5{bottom:5px} .b10{bottom:10px}  .b40{bottom:40px}
.vam{vertical-align: middle} .vat{vertical-align: top}  .vam{vertical-align: middle}  .va2{vertical-align: 2px}  .va4{vertical-align: 4px}  .va5{vertical-align: 5px} .va_2{vertical-align: -2px}  .va_5{vertical-align: -5px}  .va_8{vertical-align: -8px} .va_10{vertical-align: -10px}  .va_15{vertical-align: -15px} .vat-t,.vatt{vertical-align: text-top}  .va10{vertical-align: 10px}  .va27{vertical-align: 27px} .va_50{vertical-align: -50px} .va60{vertical-align: 60px} .va75{vertical-align: 75px} .vasub{vertical-align: sub}
/***************************定位left、top***********************/

/*****************************值为0********************************/
input[type="file"] {
    z-index: 9999;
    font-size: 0;
    opacity: 0;
    cursor: pointer;
}
.mt0{margin-top:0!important;} .mr0{margin-right: 0!important;} .m0{margin: 0!important;} .mb0{margin-bottom: 0!important;}  .f0{font-size: 0;}  .l0{left:0} .ml0{margin-left: 0!important;}
.t0{top:0;} .t_90{top:-90px;}  .b0{bottom:0;} .r0{right:0} .opa0{opacity: 0; filter:alpha(opacity=0);}
/*****************************值为0********************************/

/*****************************颜色*********************************/
.colGreen{color:#00ad36}  .col242{color: #242424}  .col00{color:#000!important;}  .col7f{color:#7f7f7f} .colB8{color:#B8B8B8!important;} .col46b{color:#46b52a} .col33{color:#333}  .col99{color:#999!important;} .colGrayBar{color:#7f7f7f!important;} .col44{color:#444}  .col66{color:#666!important;} .col666{color:#666} .col77{color:#777}  .blueFont{color:#00aff0}  .redFont , .cred{color:#993333}  .colcc{color:#ccc!important;} .colccc{color:#ccc;}  .colff{color:#fff!important;}  .colBlue{color:#53b0e7;} .cf6f7f7{color: #f6f7f7;} .cb7c4da{color: #b7c4da !important;}
.iCol{color:#009be1} .colflb{color:#f1b000}  .colMainBlue{color:#4766B5}
.c009add{color: #00aff0}  .c000{color: #000;} .c4ab2e7{color: #4ab2e7;}  .colLightBlue{color:#79bafc!important;} .col848899{color: #848899;} .col6487cd{color:#6487cd;}
.bgMainBlue{background:#4766b5} .bgcOrange{background: #ff6702} .bgcf1{background:#f1f1f1} .bgf7{background: #f7f7f7} .bgc00{background: #000}  .bgc99{background: #999} .bgcff{background: #fff!important;} .bgcf4{background: #f4f4f4}  .bgcEe{background: #eee}  .bgcCc{background: #ccc}  .bgcYe{background:#e5cd00!important;}  .bgcBlue{background:#5dc5eb!important;}  .bgcOran{background:#ff6702!important;}  .bgcR{background:#e76f49}   .bgcGreen{background:#00ad36!important;} .bgcee{background: #eee} .bgcf8{background: #f7f7f7;} .bgcf5{background:#f5f5f5;} .bgc7f7f7f{background:#7f7f7f;}
/*****************************颜色*********************************/

/*****************************border通用样式*********************************/
.border-7f{border:1px solid #7f7f7f;}  .border-top-d1{border-top: 1px solid #d1d1d1}  .border-top-7f{border-top: 1px solid #7f7f7f}  .border-bottom-7f{border-bottom:1px solid #7f7f7f;}
.commonShadow{box-shadow: 0 2px 4px 0 rgba(127, 127, 127, 0.5);}
/*****************************border通用样式*********************************/

/*****************************input通用样式*********************************/
.green-white-btn{background:#00ad36;color:#fff;}
.blue-white-btn{background:#4766b5;color:#fff;}
/*****************************input通用样式*********************************/

.showEllipsis{  /*单行*/
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.show-three-line{  /*多行*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.show-three-line-ie{
  position:relative;
  line-height:0.8rem;
  height:2.4rem;
  overflow:hidden;
}
.word-cut {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 130px;
	display: inline-block;
	vertical-align: bottom;
}
/*****************************blog页面样式*********************************/
.js-blog-show-list > div {
  border-bottom: 1px solid #f1f1f1;
  display: table;
  margin: 0.5rem 0 0.2rem 0;
}
  .js-blog-show-list > div > div {
    display: inline-block;
    vertical-align: middle;
  }
    .js-blog-show-list > div > div:nth-child(1) {
      width: 30%;
      margin-right: 0.5rem;
    }
    .list-right-box {
      height: 88px;
    }
      .list-img {
        width: 100%;
        /*height: 5rem;*/
        border: 1px solid #f1f1f1;
      }
    .js-blog-show-list > div > div:nth-child(2) {
      width: 65%;
    }
/*****************************contact页面样式*********************************/
.contact-con{
	position: absolute;
	right: -40%;
	bottom: 2.5rem;
	z-index: 10000;
	width: 5.5rem;
	background-color: #7f7f7f;
	padding: 0 0.5rem;
}
.contact-con.active{
	right: 0;
}
.contact-con .contact-con-item{
	display: block;
	height: 2.2rem;
	line-height: 2.2rem;
	color: #fff;
	font-size:0.5rem;
	border-bottom: 1px solid #fff;
    padding: 0 0.25rem;
}
.contact-con .contact-con-item span{
    font-size:0.6rem;
    vertical-align: top;
}
.contact-con .contact-con-item .iconfont{
    font-size:1.2rem;
}
.contact-con .contact-con-img{
	margin-right: 0.25rem;
}
.contact-con span{
	display: inline-block;
}
.contact-con img{
	vertical-align: middle;
}
/*****************************home、request页面样式*********************************/
.home-banner{background: url('../images/homeBanner.jpg') no-repeat center center;background-size:cover; height:300px;}
.request-upload{width:3rem;height:3rem;line-height:3rem;border:1px dashed #00ad36}
.request-upload-add{background: url('../images/add.png') no-repeat center center;}



.shareCount {
    width: 18px;
    height: 18px;
    display: none;
    background-color: #242424;
    position: absolute;
    margin: -4px 0 0 -16px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 18px;
    font-size:0.5rem;
}

@media screen and (max-width: 401px) { /*当屏幕尺寸大于454px时，应用下面的CSS样式*/
	.media-height {
		height: 43px;
	}
}
@media screen and (min-width: 401px) { /*当屏幕尺寸小于454px时，应用下面的CSS样式*/
	.media-height {
		height: 24px;
	}
}
@media screen and (max-width:480px) and (min-width:320px){
    .media-fs246{font-size: 14px}    .media-fs224{font-size: 12px}    .media-fs468{font-size: 16px}
    .media-fs244{font-size: 14px}    .media-fs466{font-size: 16px}    .media-fs022{font-size: 12px}
    .media-fs824{font-size: 22px}
}
@media screen and (min-width:480px){
    .media-fs246{font-size: 16px}    .media-fs224{font-size: 14px}    .media-fs468{font-size: 18px}
    .media-fs244{font-size: 14px}    .media-fs466{font-size: 16px}    .media-fs022{font-size: 12px}
    .media-fs824{font-size: 24px}
}
@media screen and (max-width:320px){        /* 320以下 */
    .gallery-height{height:80px}
    .media-fs246{font-size: 12px}    .media-fs224{font-size: 12px}    .media-fs468{font-size: 14px}
    .media-fs244{font-size: 12px}    .media-fs466{font-size: 14px}    .media-fs022{font-size: 10px}
    .media-fs824{font-size: 18px}    .media-w80p{width:66%}
}
@media screen and (max-width:350px){        /* 320--350 */
    .index-source-height{height:40px}
}
@media screen and (max-width:385px){        /* 320--385 */
    .gallery-height{height:70px}
    .promotion-service-height{height:40px;}
}
@media screen and (min-width:385px) and (max-width:415px){        /* 385--414 */
    .gallery-height{height:55px}
}
/*去除表单sm.min.css自带样式*/
.list-block .item-content{padding-left:0!important;}
.list-block ul:before{background-color:white!important;}
.list-block .item-media+.item-inner{margin-left:0!important;}
.list-block .item-inner{padding:0!important;min-height: 0!important;}
.list-block .item-inner:after{background: #d1d1d1!important;}
.list-block ul:after{background-color: #d1d1d1!important;}
.list-block .item-input{margin-bottom: -0.4rem!important;}
.list-block .item-title.label{margin-top:20px!important;}
.list-block li{margin-top: 0.4rem}
.list-block input[type=text], .list-block input[type=password], .list-block input[type=email], .list-block input[type=tel], .list-block input[type=url], .list-block input[type=date], .list-block input[type=datetime-local], .list-block input[type=time], .list-block input[type=number], .list-block input[type=search], .list-block select, .list-block textarea{padding:0!important;font-size:0.63rem!important;}
/*去除表单sm.min.css自带样式*/