
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Start your sourcing business by reading weintrade blog with categories like procurement guide, company news, sourcing knowledges and more.">
    <meta name="keywords" content="Sourcing Blogs, Guide To Importing From China, Procurement Guide, Sourcing Knowledge">
    <title>Sourcing Bolgs - Guide to Importing Goods From China : Weintrade.com.</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="canonical" href="https://www.weintrade.com/blog/" >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <base href="../../">
    <!-- build:css-->
    <link rel="stylesheet" href="css/commonStyle.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/lib/sm.min.css">
    <link rel="stylesheet" href="css/lib/sm-extend.min.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <!-- endbuild -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-100335941-3', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current bgcff" id="blog">
        <!--build:nav-->
        <!--endbuild-->
        <div class="content native-scroll bgcff">
            <header class="bgcff h47 por border-bottom-7f">
                <a href="/"><img src="../../images/logo.png" class="mt10 ml10" style="width:101px;height:30px"></a>
                <span class="col7f f16 Roboto poa b0 ls03 r2p">Events & Cases</span>
            </header>
        <!-- 这里是页面内容区 -->
            <div class="page-index" style="padding: 0.2rem 0.5rem 1rem;">
                <div class="aboutPage innerContent mh480 por">
                    <div class="js-blog-show-list" style="padding-bottom: 1.8rem">
                        <% list.forEach(function(item) {%>

                        <div class="bgcff">
                            <div>
                                <% if (item.listImage) {%>
                                <a href="<%=item.hrefLink %>">
                                    <img src="<%=item.listImage %>" class="list-img js-list-img"/>
                                </a>
                                <%}%>
                            </div>
                            <div class="por list-right-box">
                                <a class="js-hover" href="<%=item.hrefLink %>">
                                    <!-- <p class="f24 col44 mb5 showMoreLine show-two-line-ie js-highlight"><%=item.postTitle %></p> -->
                                    <p class="media-fs468 col242 lh24 show-three-line show-three-line-ie bold" style="margin: -0.1rem 0;"><%=item.postTitle %></p>
                                </a>
                                <span class="col99 media-fs022 inlineb poa" style="bottom: 0.2rem">By
                                    <span><%=item.postAuthor %></span> |
                                    <span><%=item.postDate %></span>
                                </span>
                            </div>
                        </div>

                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--build:contact-->
    <!--endbuild-->
</div>

<script type='text/javascript' src='js/lib/zepto.min.js' charset='utf-8'></script>
<script type="text/javascript">    
    $.config = {router : false};    
</script>
<script type='text/javascript' src='js/lib/sm/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='js/lib/sm/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src="js/lib/require.js" data-main="js/modules/blog/index"></script>

</body>
</html>