.screen_search_box .screen_search_main{
    line-height: 60px;
    min-width: 600px;
}

.screen_search_box .screen_search_main dl {
    display: inline-block;
    /*height: 30px;*/
    line-height: 18px;
    padding: 0 10px;
}

.screen_search_box .screen_search_main dl dt,.screen_search_box .screen_search_main dl dd {
    display: inline-block;
}
.screen_search_box .screen_search_main a.text_button.mL15{
	margin-left: 15px;
}

.screen_search_box .screen_search_main a.text_button.mR15{
	margin-right: 15px;
}

.screen_search_box .screen_box{
  display: inline-block;
}
.screen_search_box .screen_box dt label{width:80px;display: inline-block}
.screen_search_box .screen_box dt input[type="button"]{width:90px;margin-right:10px;margin-left:132px;}
.screen_search_box .screen_box dt, .screen_search_box .screen_box dd input{
  display: inline-block;
}
.search-association {
    margin-left: -15px;
    padding-right: 6px;
    color: #ccc;
}