/**************************常用**************************/
.fl{float: left;}   .fr{float: right;}  .tdn{text-decoration: none;}  .tdu{text-decoration: underline;} .tal{ text-align: left}  .tac{ text-align: center}  .bold{font-weight: bold;}  .curp{cursor: pointer}
.clear{zoom:1;height:0;clear:both;}   .clear:after{content: "";display: block;}  .none{display: none;} .hidden{visibility: hidden}  .overHidden{overflow: hidden !important;} .visible{visibility: visible} .z0{z-index: 0;}  .z99{z-index: 9999;}  .bsb{box-sizing:border-box } .bsdc{border:1px dashed #cccccc; }
.disb{display: block !important;}  .disbn{display: block;}  .noneim{display: none!important;} .disib{display: inline-block!important;} .disibni{display: inline-block;}
.ls3{letter-spacing: 3px;}  .wb-ba{word-break: break-all}
.m5{margin: 5px}  .ml10{margin-left: 10px!important;} .ml13{margin-left: 13px;}  .ml20{margin-left: 20px;}  .ml25{margin-left: 25px;}  .ml30{margin-left: 30px !important;}  .ml35{margin-left: 35px;}  .ml40{margin-left: 40px;}  .ml45{margin-left:45px;}  .ml50{margin-left:50px;} .ml55{margin-left:55px;} .ml80{margin-left:80px;} .ml85{margin-left: 85px}  .ml60{margin-left:60px!important;}  .ml73{margin-left: 73px}  .ml76{margin-left:76px!important;}  .ml80{margin-left:80px!important;}  .ml90{margin-left:90px;}  .ml100{margin-left:100px;}  .ml110{margin-left:110px;}  .ml115{margin-left:115px;}  .ml120{margin-left:120px;}  .ml128{margin-left:128px;}  .ml130{margin-left:130px;}  .ml140{margin-left: 140px}  .ml145{margin-left: 145px}  .ml150{margin-left: 150px}   .ml154{margin-left: 154px}  .ml160{margin-left: 160px} .ml168{margin-left: 168px}  .ml180{margin-left: 180px} .ml100{margin-left:100px;}  .ml120{margin-left:120px;}  .ml140{margin-left: 140px}  .ml160{margin-left: 160px}  .ml190{margin-left: 190px}  .ml200{margin-left: 200px}  .ml300{margin-left: 300px}  .ml350{margin-left: 350px}  .ml265{margin-left: 265px}  .ml185{margin-left: 185px}  .ml205{margin-left: 205px}  .ml210{margin-left: 210px}
.ml_50{margin-left:-50px!important;}  .ml_25{margin-left: -25px!important;}  .ml_60{margin-left:-60px!important;} .ml_100{margin-left:-100px!important;}
.mr5{margin-right: 5px;}  .mr10{margin-right: 10px;}  .mr20{margin-right: 20px;}  .mr30{margin-right: 30px;}  .mr35{margin-right: 35px;}  .mr60{margin-right: 60px;} .mr70{margin-right: 70px;}  .mr66{margin-right: 66px;} .mr_600{margin-right: -600px;}  .mr_655{margin-right: -655px;}
.mt_50{margin-top: -50px;} .mt_25{margin-top: -25px;}  .mt_9{margin-top: -9px;}  .mt5{margin-top: 5px}  .mt10{margin-top: 10px!important;}  .mt15{margin-top: 15px;}  .mt20{margin-top: 20px;}  .mt28{margin-top: 28px;}  .mt30{margin-top: 30px!important;}  .mt40{margin-top:40px;}  .mt50{margin-top:50px!important;}  .mt60{margin-top:60px!important;}  .mt66{margin-top:66px;}  .mt70{margin-top:70px;}   .mt80{margin-top:80px!important;}  .mt100{margin-top: 100px;} .mt130{margin-top: 130px;}
.mb10{margin-bottom: 10px!important;}  .mb20{margin-bottom: 20px !important;}  .mb25{margin-bottom: 25px} .mb30{margin-bottom: 30px;} .mb40{margin-bottom: 40px;}  .mb50{margin-bottom: 50px !important;}  .mb80{margin-bottom: 80px!important;}  .mb100{margin-bottom: 100px;}
.p20{padding:20px!important;}
.pr10{padding-right: 10px}  .pr20{padding-right: 20px} .pr40{padding-right: 40px}  .pr50{padding-right: 50px} .pr70{padding-right: 70px}
.pl10{padding-left:10px !important;}  .pl15{padding-left: 15px;}  .pl20{padding-left: 20px}   .pl30{padding-left:30px !important;}   .pl35{padding-left: 35px}  .pl40{padding-left: 40px;} .pl45{padding-left: 45px;}  .pl50{padding-left: 50px}  .pl70{padding-left: 70px;}  .pl75{padding-left: 75px;}  .pl80{padding-left: 80px}   .pl90{padding-left: 90px}  .pl105{padding-left: 105px}  .pl136{padding-left: 136px}
.pb5{padding-bottom: 5px} .pb10{padding-bottom:10px!important;} .pb20{padding-bottom:20px!important;}  .pb25{padding-bottom: 25px} .pb30{padding-bottom: 30px} .pb50{padding-bottom: 50px}  .pb60{padding-bottom: 60px} .pb90{padding-bottom: 90px;}  .pb110{padding-bottom: 110px;}
.pt10{padding-top: 10px}  .pt25{padding-top: 25px}  .pt30{padding-top: 30px} .pt50{padding-top: 50px}  .pt120{padding-top:120px;}

.va8{vertical-align:8px} .va_5{vertical-align: -5px}  .va5{vertical-align: 5px}  .va10{vertical-align:10px}  .va15{vertical-align:15px}  .va_8{vertical-align: -8px} .va_10{vertical-align: -10px}  .vam{vertical-align: middle}  .vas{vertical-align: super}  .vasub{vertical-align: sub}
.w5{width:5px;} .w13{width:13px} .w22p{width: 22%}  .w46p{width: 46%} .w252{width: 252px} .w920{width:920px}  .w660{width:660px;}  .w720{width:720px;}  .w530{width:530px;} .w550{width:550px;} .w260{width:260px} .w300{width:300px;} .w330{width:330px;}  .w350{width:350px;} .w250{width:250px;}  .w120{width:120px;}  .w124{width:124px;}  .w140{width:140px;} .w151{width:151px;}  .w155{width:155px;}  .w160{width:160px!important;}  .w180{width:180px!important;} .w190{width:190px;}   .w200{width:200px!important;} .w220{width:220px;}  .w280{width:280px;}  .w100{width:100px!important;}  .w105{width:105px!important;} .w80{width:80px!important;} .w90{width:90px;} .w50{width:50px!important;} .w64{width:64px!important;}  .w65{width:65px;}  .w27p{width:27%!important;}  .w33p{width:33%}  .w45p{width:45%}  .w35p{width:35%} .w50p{width:50%;}  .w80p{width:80%!important;}.w90p{width:90%!important;}  .w100p{width:100%!important;}  .w75p{width:75%}  .w82p{width:82%;}  .w84p{width:84%;}  .w88p{width:88%;}  .w93p{width:93%;}  .w95p{width:95%;} .w96p{width:96%;} .w99p{width:99%;} .w130{width: 130px;}
.mw1028{min-width: 1028px;}  .mw338{min-width: 338px;}  .mw710{min-width: 710px;}  .mw760{min-width: 760px;}
.mh90{min-height: 90px;} .mh175{min-height: 175px;}  .mh250{min-height: 250px;}
.hauto{height: auto} .h13{height:13px;} .h18{height:18px;} .h25{height:25px;}  .h28{height:28px;}  .h30{height:30px;}  .h65{height: 65px;}  .h50{height: 50px;}  .h70{height:70px}  .h80{height:80px}  .h90{height:90px;}  .h110{height:110px;}  .h120{height:120px;} .h330{height:330px}  .h395{height:395px}

.lh25{line-height:25px;}  .lh28{line-height:28px;}  .lh30{line-height:30px;}  .lh35{line-height:35px;}  .lh50{line-height:50px;}  .lh62{line-height:62px;} .lh65{line-height:65px;}  .lh90{line-height: 90px}
/*****************************定位*********************************/
.poa{position: absolute;}   .por{position: relative;}  .center{margin:0 auto}  .tar{text-align: right;}
.l_8{left: -8px;} .l_16{left: -16px;} .l_30{left: -30px;}  .l_55{left: -55px;}  .l_85{left: -85px;}  .l_95{left: -95px;}  .l6{left: 6px} .l10{left: 10px} .l18{left: 18px} .l32{left: 32px} .l40{left: 40px} .l70{left: 70px}  .l85{left:85px}   .l100{left:100px;} .l145{left:145px;} .l60{left:60px} .l75{left:75px} .l125{left:125px;}  .l165{left:165px;} .l75{left:75px} .l220{left:220px;}  .l380{left:380px;}
.r10{right: 10px;}  .r18{right: 18px;}  .r30{right: 30px;}  .r_70{right:-70px;} .r50p{right: 50%}
.t5{top:5px;} .t18{top:18px;} .t22{top:22px;} .t30{top:30px;}   .t35{top:35px}  .t40{top:40px;}  .t58{top:58px;} .t76{top:76px;}  .t_5{top:-5px;} .t_7{top:-7px;}  .t_10{top:-10px} .t_20{top: -20px;}   .t_55{top: -55px;}  .t80{top:80px}  .t130{top:130px;} .t390{top: 390px;}.t445{top:445px}.t498{top: 498px}
.b20{bottom: 20px;}  .b125{bottom:125px;}
.va2{vertical-align: 2px} .va_2{vertical-align: -2px;}  .vam{vertical-align: middle}  .vat{vertical-align: top}  .vat-t{vertical-align: text-top;}
.ti30{text-indent: 30px;}
.ti8{text-indent: 8px;}
/*****************************定位*********************************/
/*****************************值为0*********************************/
.ml0{margin-left: 0!important;} .b0{bottom:0;} .noBorder{border:none!important;} .mb0{margin-bottom: 0!important;}  .p0{padding: 0!important;} .pt0{padding-top: 0!important;} .m0{margin:0!important;}  .f0{font-size: 0;}  .l0{left:0}  .t0{top:0;}   .r0{right:0;}  .opa0{opacity: 0; filter:alpha(opacity=0);}
/*****************************值为0*********************************/
.f12{font-size: 12px;}  .f14{font-size: 14px!important;}  .f16{font-size: 16px!important;}  .f17{font-size: 17px;}  .f18{font-size: 18px}  .f20{font-size: 20px !important;}  .f24{font-size: 24px;}  .f22{font-size: 22px!important;}  .f28{font-size: 28px!important;} .f40{font-size: 40px!important;}  .f50{font-size: 50px!important;}
/*****************************颜色*********************************/
.col00{color:#000} .colff6{color: #ff6702} .colff6im{color: #ff6702!important;} .col4ba{color: #4baeda} .cole4b{color: #e4bb4b} .colf28{color: #f2865b}.col58b{color: #58b01d} .col66{color:#666!important;} .colbb8{color: #ffcbb8} .blueFont{color:#00aff0!important;} .orange-font{color:#fc6721!important;}  .colcc{color:#ccc;}  .colff{color:#fff!important;}  .colBlue{color:#53b0e7;}  .colGreen{color: #00b904}  .colRed , .redFont{color:#f03300}
.bgcFf{background: #fff!important;padding: 12px 0; text-align: center;}  .bgcFfNew{background: #fff!important;}  .bgcCc{background: #ccc}  .bgcYe{background:#e5cd00}  .bgcBlue{background:#fc6721}  .bgcDarkBlue{background:#019be1} .bgcDarkOran{background-color: #fc6721;} .bgcDarkGray{background-color: #c1aeaa;} .bgcOran{background:#e58c00}  .bgcR{background:#e76f49}   .bgcGreen{background:#a4c57c}  .bgcBigRed{background: #dd0110;}  .bgcee{background: #eee}
.iCol{color:#009be1}  .borderColE5{border-color: #e5e5e5!important;}  .colMoneyBag{color:#f56161}
/*****************************颜色*********************************/
.seperateRight{border-right: 2px solid #eef0f4}  .bottomBorder{border-bottom:1px solid #eef0f4} .borbw{border-bottom:1px solid white}  .cccBorder{border:1px solid #ccc}  .cccDashedBorder{border:1px dashed #ccc}
.companyLogo{
    width:290px;
    height:100px;
    border:2px dashed #ccc;
}
.companyLogo img{
    width:290px;
    height:100px;
}

.grayBlock {
    background-color: #eff0f4;
    padding: 10px 0 30px 0;
    display: inline-block;
}
.cccBlock{
    background: #cccccc;
    color:#000;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: 160px;
    text-align: center;
}
.eeeBlock{
    height:32px;
    line-height: 32px;
    background: #eee;
    text-align: center;
}
.showMoreLine{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.textOverflowEllippsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.word-cut{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.active{color:#fc6721!important;}
.on{background: #fc6721;border-color:transparent!important;color:white}
.listButton{
    display: inline-block;
    height:35px;
    line-height:35px;
    color:#000;
}
.listButton em{
    /*font-weight: bold;*/
    color:#fc6721;
    /*margin-left: 30px;*/
    margin-right: 5px;
    font-size: 14px;
}
/**************************常用**************************/
/*html,body{height:100%;}*/
.textInput{
    width: 155px;
    border: 1px solid #ccc;
    padding: 6px 0;
    text-indent: 6px;
}
textarea{border-color: #ccc}
.shadow{
    left:-43px;
    top:-22px
}
.inner{width:1200px;margin:0 auto;}
.topHead{
    height:35px;
    background:#eef0f4;
    width:100%;
    min-width: 1200px;
}
.topHead .innerTop{
    height:35px;
    line-height:35px;
}

.topHeader ol li,.topHeader ul li{
    height: 36px;
    line-height: 36px;
    display: inline-block;
}
.topHeader{
    height: 36px;
    background-color: #f5f5f5;
}
.topHeader a,.topHeader span{color:#9a9a9a}
.topHeader ol li a:hover{
    color: #fc6721!important;
    cursor: pointer;
}
.topNavBar{
    width:100%;
    min-width: 1200px;
    height:80px;
    background:#ff6702;
}
.topNavBar .innerNav{
    height:65px;
}
.user-bor{
    float: left;
    display: inline-block;
    width: 118px;
    height: 60px;
    text-align: right;
    font-size: 24px;
    line-height: 60px;
    border-left: 1px solid #fff;
    margin: 10px 40px;
    color: #fff;
}
.entrance:hover a , .entrance:hover i{color:#ff6702!important;}
.record_icon{
    color: #666;
}
.record_icon:hover{
    text-decoration: underline;
}
/************导航*****************/
.topNav{
    margin-left:300px;
}
.topNav li{
    float: left;
    padding:16px 0 0 0;
    margin-right:50px;
    text-align: center;
    cursor: pointer;
}
.topNav li a{
    display: block;
    height:50px;
}
.personInfo:hover i,.personInfo:hover span{color: #fc6721}

/***************middle中部导航****************/
.middleNav{
    border-bottom: 1px solid #a5a5a5;
    width:83%;
}
.middleNav li:hover{
    color:#fc6721;
}
/***************middle中部导航****************/
/***************************底部*************************/
.bottomNav{
    text-align: center;
    margin:0 0 15px 0;
}
.bottomNav li{
    display: inline-block;
    margin:0 28px;
}
.bottomNav li a{
    color:#666;
}
.bottomNav li a:hover{
    color:#fc6721;
}
.bottom{
    /*position: absolute;*/
    /*bottom:0;*/
    height:65px;
    background:white;
    width:100%;
    min-width: 1200px;
}
.bottom .ICP{
    width:100%;
    text-align: center;
}
/***************************底部*************************/
/************导航*****************/
.xbn-content{
    /*overflow-x:hidden;
    overflow:auto;
    position: absolute;
    top: 50px;
    bottom: 0;
    left:0;
    right:0;*/
}
.middle{
    background: #eef0f4;
    min-width: 1200px;
    overflow: hidden;
    margin-bottom: 26px;
}
.content{
    position: relative;
    display: table;
    margin-top: 20px;
    margin-bottom: 12px;
    min-height: 700px;
}
.content .left{
    width: 160px;
    height: 100%;
    display: table-cell;
}
.content .left .p_color {
    color: #fff;
}
.content .left .leftNav li{
    height:30px;
    line-height:30px;
    padding:8px 0;
    position: relative;
    cursor: pointer;
}
.content .left .leftNav li:hover{
    background:#595d62;
}
.content .left .leftNav li i{
    position: absolute;
    left:30px;
    color:#ccc;
    font-size: 30px;
}
.content .left .leftNav li span{
    position: absolute;
    left:60px;
    top:9px;
}
.content .right{
    /*min-height:900px;*/
    width: 1020px;
    background: #fff;
    /*bottom: 10px;*/
    /*left: 160px;    */
    display: table-cell;
    vertical-align: top;
}
.content .right .header span{
    top:4px;
    left:69px;
}
.content .right .perInfo{
    box-sizing: border-box;
    width:100%;
    margin:0 auto;
    padding:20px 0 20px 0;
}
.content .right .perInfo h1{
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}
.content .right .perInfo .newsContent{
    color:#666;
    width:460px;
    overflow : hidden;
    text-overflow: ellipsis;
    display:-moz-box;
    display:-webkit-box;
    display:box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.content .right .perInfo .newsTime{
    color:#666;
    position: absolute;
    right:0;
    bottom:20px;
}
.perDetail{
    display: inline-block;
    margin:0 0 30px 0;
    position: relative;
}
.perDetail label{
    width: 151px;
    display: inline-block;
    text-align: right;
}

.perDetail span label{
    width: 200px;
    margin-left: 10px;
    margin-bottom: 13px;
    display: inline-block;
    text-align: left;
}
.default_text{
    width:155px;
    border:1px solid #ccc;
    padding:8px 0;
    text-indent: 6px;
    border-radius: 5px;
}
.default_text:focus{
    border: 1px solid #ff6702;
}
.location{
    height: 40px;
    line-height:40px;
    margin:0px 25px;
    border-bottom: 1px rgb(238,238,238) solid;
}
.js-breadCrumb-container span{cursor: pointer;}
.js-breadCrumb-container span:hover{color:#fc6721}
.js-breadCrumb-container span:last-of-type{color:#fc6721}
.js-breadCrumb-container span:not(:last-of-type):after{
    color:#666;
    content:' > ';
}
.fileWrap{
    width:36px;
    height:36px;
    line-height:34px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.fileWrap i{
    color:white;
    font-size: 16px;
}
.fixNav{
    z-index: 9999;
    position: fixed;
    width:90px;
    height:280px;
    top:320px;
    border-left:2px solid #eee;
    margin-left:5px;
}
.fixNav a{
    display: block;
    width:82px;
    padding:5px 0;
    text-align: center;
    background:#eef0f4;
    margin-top:25px;
    margin-left:-5px;
    cursor: pointer;
    color:#666;
}
.fixNav a:hover{
    background: #fc6721;
    color:white;
}
.changeTime{
    width:100px;
    height:auto;
    border:1px solid #ccc;
}
.changeTime li{
    background: #eef0f4;
    padding:12px 0;
    text-align: center;
}
.changeTime li:hover{
    color:#fc6721;
}
/**************标题栏***************/
.grayHeader{
    text-indent: 22px;
    height:30px;
    line-height:28px;
    background:#eee;
    color:black;
    font-size: 14px;
}
.grayHeader .location{color:#999;}
.grayHeader .now{color:#fc6721;}
.grayHeader .gt{margin:0 6px;}
.grayHeader i{
    margin-right:10px;
    color:#ccc;
}
.reset_button{
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
    background: white;
    color: black;
    border-radius:18px;
    border:1px solid #ccc;
    height:28px;
    line-height:28px;
    font-size: 14px;
    /*padding:0 15px;*/
    display: inline-block;
}
.reset_button:hover{
    background: #fc6721;
    color:white;
}
.transparent_button{
    display: inline-block;
    border:1px solid #ff6702;
    color:#ff6702;
    background: transparent;
}
.default_button:hover{background: #e15a00;}
/***********************table样式*************************/
.commonTable thead{
    background:#eef0f4;
}
.commonTable , .commonTable td , .commonTable th{
    text-align: center;
    border:1px solid #ccc;
}
.commonTable td , .commonTable th{
    padding:10px 8px;
    font-weight: normal;
}
/**************radio***************/
.radioBox{
    position: relative;
    display: inline-block;
    /*width:100px;*/
    min-width: 100px;
    height:16px;
}
.radioBox span{position: absolute;left:23px;top:0}
.radioBox input[type='radio']{
    display:none;
}
.radioBox label:before{
    border:1px solid #ccc;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
    top:0px;
    background-color: #fff;
}
.radioBox input[type='radio'] + label:before{
    border-radius: 50%;
}
.radioBox input[type='radio']:checked+label:before{
    border:1px solid #fc6721;
    content: "\2022";
    color: #fc6721;
    font-size: 29px;
    text-align: center;
    line-height: 11px;
}
/*************************input样式*****************************/
.default_input {
    /*padding: 0px 6px;*/
    width:160px;
    text-indent: 4px;
    border: 1px solid #ccc;
    height:28px;
    line-height:28px;
    /*border-radius: 6px;*/
}
.default_input:focus{
    border: 1px solid #ff6702;
}


/*************************button样式*****************************/
.fileButton{
    text-align: center;
    padding:7px 13px;
    display: inline-block;
    background:#ccc;
    cursor: pointer;
}
.default_button{
    cursor: pointer;
    background: #ff6702;
    color:white;
    text-align: center;
    /*padding:8px 22px;*/
    height:32px;
    line-height:32px;
    border-radius: 5px;
}
.submit-button{
    cursor: pointer;
    background: #ff6702;
    color:white;
    text-align: center;
    padding:7px 14px;
    border-radius: 5px;
    font-size: 14px;
}
.colorfulLabel{
    cursor: default;
    display: inline-block;
    width:100px;
    padding:5px 0;
    text-align: center;
}
.askAnswerLabel{
    width:30px;
    height:30px;
    line-height:30px;
    color:white;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}
.accessory{
    background: #eef0f4;
    display: inline-block;
    padding:9px 15px;
    text-align: center;
    width:160px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
a.accessory{color:#fc6721;text-decoration: underline}
/*************************validate样式*****************************/
label.error {
    color: red;
    position: absolute;
    min-width: 120px;
}
.repassword label.error{
    margin-left: 10px;
    top: 5px;
}
.email label .error{
    top: 38px;
    left:36px;
}
.js-addAcount span label label.error{
    width: 200px;
    margin-left: 13px;
    margin-top: 32px;
    display: inline-block;
    text-align: left;
    left: 150px;
}
.js-addContacts span label label.error{
    width: 200px;
    margin-left: 13px;
    margin-top: 32px;
    display: inline-block;
    text-align: left;
    left: 150px;
}
.js-addGood span label label.error{
    width: 200px;
    display: inline-block;
    text-align: left;
    left: 123px;
}
.js-addInternationalTrader span label label.error{
    width: 200px;
    display: inline-block;
    text-align: left;
    left: 200px;
    bottom:-16px;
}
.js-addExportGoodsLocation span label label.error{
    width: 200px;
    display: inline-block;
    text-align: left;
    left: 195px;
    bottom:-20px;
}
.user-tab-bar {
    height: 62px;
    width: 100%;
    border-bottom: 12px solid #f5f5f5;
}
.user-tab-bar .user-base ,.user-tab-bar .user-repassword{
    display: inline-block;
    width: 72px;
    height: 48px;
    cursor:pointer;
    text-align: center;
    font-size: 16px;
    line-height: 58px;
    margin-left: 45px;
}
.user-tab-bar .user-base.active ,.user-tab-bar .user-repassword.active{
    border-bottom: 3px solid #ff6702;
    color: #ff6702!important;
}
.user-details {
    height: 186px;
    width: 100%;
    margin-left: 38px;
}
.user-details .user-details-basic{
    /*display: inline-block;*/
    /*height: 186px;*/
    /*line-height: 186px;*/
    /*float: left;*/
    height:47px;
    line-height:47px;
}
.contract-type-error {
    margin-left: -5px !important;
}
.export-goods-location-error {
    margin-left: -5px !important;
}
.exchange-method-error label{
    margin-top: 20px;
    left: 145px;
}
.price-term-error label{
    margin-top: 20px;
    left: 145px;
}
.fare-error label{
    margin-top: 7px;
    margin-left: 25px;
}
.premium-error label{
    margin-top: 7px;
    margin-left: 25px;
}
.package-type-error label{
    margin-top: 20px;
    left: 145px;
}
.bordashed-error label{
    margin-top: -1px;
    margin-left: 18px !important;
}
.international-trader-error label{
    margin-top: -1px;
    margin-left: 7px !important;
}
.export-goods-location-first-error label{
    margin-top: -1px;
    margin-left: 7px !important;
}
.tray-type-error label{
    margin-top: 20px;
    left: 242px;
}
.detail-confirmed-error label{
    margin-top: -36px;
    left: 142px;
}
.company-bank-account-id-error label{
    margin-top: 20px;
    left: 145px;
}
.company-bank-account-id-upper-error label{
    margin-top: 2px !important;
    left: 145px;
}
.export-contacts-id-error label{
    margin-top: 20px;
    left: 145px;
}
.export-contacts-id-upper-error label{
    margin-top: 2px !important;
    left: 145px;
}
.error-ver > .perDetail > .error {
    left: 100px;
    top: 32px;
}
/*************************render样式*****************************/
.tender-added-tr > td > input {
    width: 100%;
    height: 100%;
}

/*************************变更table样式*****************************/
.js-wrapTabDataGrid  .changeTime, .js-wrapTabDataGrided .changeTime{
    width:100px;
    height:auto;
    border:1px solid #ccc;
}
.js-wrapTabDataGrid  .changeTime li, .js-wrapTabDataGrided .changeTime li{
    background: #eef0f4;
    padding:12px 0;
    text-align: center;
    width: 100px;
}
.js-wrapTabDataGrid table, .js-wrapTabDataGrided  table{
    margin-top: 30px;
}
/*************************招标答疑样式*****************************/
.js-tenderAnswer table, .js-tenderQuestion table{
    border:none;
}
.js-tenderAnswer table tbody th,.js-tenderAnswer table tbody td,.js-tenderQuestion table tbody th,.js-tenderQuestion table tbody td{
    border:none;
}
.js-tenderAnswer table tbody td, .js-tenderQuestion table tbody td{
    padding: 0;
}

.js-myBid .js-datagrida input {
    width:80px;
}
.p_text {
    text-align: left;
}
/*************************上传按钮样式*****************************/
.filePicker input {
    opacity: 0;
    filter:alpha(opacity=0);
}
.filePicker {
    position: relative;
    width: inherit;
    height: inherit;
}
.filePicker input[type=file] {
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 3;
    cursor: pointer;
}
/*************************删除按钮样式*****************************/
.wrapUpload {
    position: relative;
    margin-right: 30px;
    display: inline-block;
    margin-bottom: 20px;
}
.cancel {
    position: absolute;
    top: -8px;
    right:12px;
    width: 18px;
    height: 18px;
    line-height:18px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    background: red;
    color:white
}
/*******************checkBox**************/
.checkWrap label , .checkWrap input{
    /*float: left;*/
    cursor: pointer;
}
.chk{display: none;}
.chk + label {
    background-color: white;
    border: 1px solid #fb8f2a;
    width:20px;
    height:20px;
    line-height:20px;
    display: inline-block;
    position: relative;
}
.chk:checked + label {
    background-color: #ff6702;
    border-color: transparent;
}
.chk:checked + label:after {
    content: '\2714';
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
/*******************checkBox**************/
/*************************错误提示样式*****************************/
.inputWrap{
    position: relative;
}
.JsError {
    position: absolute;
    top:-40px;
    left: 46%;
    color: red;
}

.js-anserContent p {
    text-align: left;
}
.tab_btn .middleNav li{
    position: relative;}
.tab_btn .middleNav li.active:before{
    content: '';
    display: block;
    width: 0;
    border-width: 10px;
    border-color: transparent;
    border-bottom-color: #fc6721;
    border-style: solid;
    position: absolute;
    left:50%;
    margin-left: -6px;
    bottom: -11px;
}
.company-address  label[for=companyAddressDistrict]{
    margin-left: 504px;
    margin-top: -28px;
}
/**************************系统消息、公告**************************/
.notRead{
    width:38px;
    height:22px;
    line-height: 22px;
    background: #fc6721;
    color:white;
    text-align: center;
}
.eachSystemMessage i:hover{color: #00aff0}
/**************************系统消息、公告**************************/

.js_tabPannel3  .tab_btn ul {
    padding-left:0px;
}
.indexCircleWrap{
    padding:8px;
    border-radius: 50%;
    border:1px solid #ff6702;
    width:25px;
    height:25px;
}
.indexCircle{
    border-radius: 50%;
    color:white;
    width:25px;
    height:25px;
    line-height:25px;
    text-align: center;
}
/*****************************上传***************************************/
.dashedBox{
    /*float: left;*/
    position:relative;
    width:142px;
    height:142px;
    margin: auto;
    text-align:center;
    cursor: pointer;
    border:1px dashed #cccccc;
}
.equalDashedBoxSize{
    width:142px;
    height:142px;
}
.dashedBox > img {
    position: absolute;
    left:0;
    width: inherit;
    height: inherit;
    z-index: 2;
}
.dashedBox:hover{
    background: #eeeeee;
}
.dashedBox > i {
    font-size: 40px;
    color:#ff6702;
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -30px;
}
.dashedBox > p {
    text-align: center;
    margin-top: 10px;
    color:#ff6702;
}
/*.dashedBox input[type="file"]{
    height:100px;
    width:100px;
}*/
/*.dashedBox .webuploader-pick{*/
    /*height:100px;*/
    /*width:100px;*/
/*}*/

.dashedBox .webuploader-pick{
    height: inherit;
    width: inherit;
}
.dashedBox .webuploader-pick span{
    top: 100px;
    display: block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/**** 附件  ****/
.c009add {
    color: #00aff0;
}
/**** 出货清单样式  ****/
.js-exportGoodsListCon{
    position: relative;
    overflow: hidden;
    height:auto;
}
.js-exportGoodsListCon.current{
    height:30px;
}
.js-exportGoodsListCon .js-showHide{
    position: absolute;
    right: 0;
    bottom:0;
}

/*****************修改**********************/
.changecss .middleNav{
    border-bottom: 1px solid #a5a5a5;
    width:95%;
}
.changecss .middleNav li:hover{
    color:#fc6721;
}
.changecss .tab_btn .middleNav li{
    position: relative;
    top: -6px;
    background-color: white;
    bottom: 0px;
    left:25px;
}
.changecss .tab_btn .middleNav li.active:before{
    bottom: 0px;
}
.changecss .tab_btn .middleNav li a{
    color: #000000;
}
.changecss .tab_btn .middleNav li.active a{
    color: #fc6721;
}
.padnone .tab_btn ul{
    padding-left: 0px;
}
/********************************creditList新版*****************************/
.newTab.middleNav{border:none!important;}
.changecss .newTab_btn .middleNav li{
    top: -7px;
    background-color: #fff;
    left:0px!important;
    border-radius: 5px 5px 0 0;
    border:1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.changecss .newTab_btn .middleNav li.active{border:1px solid #f8b88c; border-bottom: 1px solid #ccc;  }
.changecss .newTab_btn .middleNav li a{
    display: inline-block;
    background: -webkit-linear-gradient(#fbfbfb 50%, #f1f1f1 50%);
    background: -o-linear-gradient(#fbfbfb 50%, #f1f1f1 50%);
    background: -moz-linear-gradient(#fbfbfb 50%, #f1f1f1 50%);
    background: linear-gradient(#fbfbfb 50%, #f1f1f1 50%);
    width: 94px;
    height: 34px;
    border-radius: 5px 5px 0 0;
    line-height: 34px;
    margin-top: 2px;
}
.changecss .newTab_btn .middleNav li.active a{
    background: -webkit-linear-gradient(#feeed5 50%, #fee5c7 50%);
    background: -o-linear-gradient(#feeed5 50%, #fee5c7 50%);
    background: -moz-linear-gradient(#feeed5 50%, #fee5c7 50%);
    background: linear-gradient(#feeed5 50%, #fee5c7 50%);
}
.childchangecss .newTab_btn .middleNav li{
    border: 1px solid #cccccc;
    background: white;
    border-radius: 0;
    height: 32px;
    margin-right: -5px;
}
.childchangecss .newTab_btn .middleNav li a{
    background: white;
    color: black;
    border-radius: 0;
    border: none;
    margin-top: 0px;
    height: 32px;
}
.childchangecss .newTab_btn .middleNav li.active{
    border: 1px solid #ff6702;
    background: #ff6702;
    border-radius: 0;
    height: 32px;
    margin-right: -4px;
    top: -8px;
}
.childchangecss .newTab_btn .middleNav li.active a{
    background: #ff6702;
    color: white;
    border-radius: 0;
    border: none;
    margin-top: -1px;
    height: 32px;
}
.childchangecss .table {
    width: 97%;
}
.drawerDetailTable thead tr {
    display: block;
}
.drawerDetailTable thead th {
    padding: 0px;
    border: none!important;
}
.drawerDetailTable tbody {
    display: block;
    height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 2px;
}
.drawerDetailTable tbody tr:nth-of-type(even){
    background-color: #f5f5f5;
}
.drawerDetailTable tbody td{
    border: none!important;
}
.drawerDetailTable tbody td p{
    width: 125px!important;
    text-align: center;
}
.newTab_btn .middleNav li.active:before{border-color: transparent;}
/********************************creditList新版*****************************/
/**********弹窗 star***************/
.js-modules-customerClearance-applyClearance .layui-layer-wrap{
    margin-top:70px;
    padding-bottom: 10px;
}
/***********弹窗 end*******************/
/***********下拉框 ***************************/
.contract .wrapper-dropdown{
    width: 160px;
}
.contract .wrapper-dropdown .dropdown li {
    /*padding:0 10px;*/
    height: 25px;
    line-height: 25px;
    text-align: center;
    width:160px;
}
.contract .wrapper-dropdown i{
    width:140px
}
/*通关进度详情页*/
.js-exportGoodsListCon label{
    display: inline-block;
    width: 190px;
}
.js-c-detail .js-exportGoodsListCon label{
    float: left;
    width:300px;
}
.js-c-detail .perDetail label {
    width: 160px;
}
.js-exportGoodsListCon .td_r{
    display: inline-block;
    width: 105px;
    text-align: right;
}
.bgxx .w27p{
    width: 32% !important;
}
.fix li.active:before{
    content: '';
    display: block;
    width: 30px;
    border-width:30px;
    border-color: transparent;
    border-left-color: #fc6721  ;
    border-style: solid;
    position: absolute;
    left: 100px;
    top:0;
}

.js_tabPannel3 .fix li{
    line-height:35px;
}
.stationNews{
    padding:5px;
    width:50px;
    height:50px;
    background: #eff0f4;
    border:1px solid #cbcdcc;
    right:100px;
    top:80px;
}
.stationNews p{
    height:20px;
    line-height:20px;
}
.stationNews .newsNum{
    cursor: default;
    left:32px;
    top:-55px;
    background: #ff0004;
    color:white;
    border-radius: 50%;
    width:25px;
    height:25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
}
.answerTable table{width:75%}
.js-contAnswer .supplierDisplayJsError label{
    width:300px;
    left:-4px;
    bottom:35px;
}
.bid-previewData .perDetail{/*display: block!important;*/}
.errorNotice {
    font-size: 11px;
    color: red;
    line-height: 12px;
}
.js-modules-customerClearance-clearanceDetail .grayBlock{
    padding: 10px;
}

.js-wrapPreview .grayBlock{
    padding: 10px;
}

/*start公开招标中的特殊样式*/
.js-searchbox .fix li.active:before{
    display: none;
}
.js-searchbox .fix li span{
    color:#000 !important;
}
/*end公开招标中的特殊样式*/
/*招标答疑错误验证*/
textarea[name="questionContent"] + span{
    position:absolute;
    width:250px;
    left:45px;
    bottom:0;
}
/*招标答疑错误验证*/

/******* 默认disabled样式 *************/
[disabled]{
    background-color:rgb(235, 235, 228)!important;
    cursor:default;
}
/********悬浮窗************/
.suspension-window{
    position: fixed;
    right: 50%;
    margin-right: -655px;
    top: 390px;
}
.window-box {
    margin-right: -550px;
}
.window-box,.window-box-display {
    position: fixed;
    right: 50%;
}
.window-box span{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    color: #ff6702;
    cursor: pointer;
}
.change-bg{
    background-color: #ff6702!important;
    color: #FFFFFF!important;
}
.suspension {
    letter-spacing:1px;
    font-size: 12px;
    width: 164px;
    height: 50px;
    text-indent:7px;
    color:black;
    background: #ff6702;
    position: relative;
    left: 45px;
    cursor: pointer;
}
.suspension:before {
    content: "";
    position: absolute;
    right: -9px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #ff6702;
}
/********************/
/*.layui-layer-content{
    padding: 0px 40px 10px 40px !important;
}*/
.layui-layer-btn .layui-layer-btn0{
    border-color:#ff6702!important;
    background-color: #ff6702!important;
}

/*****************************匹配信息***************************************/
.eachMatchingInfo{
    width:915px;
    border-bottom: 1px solid #eee;
    padding: 40px 0;
    color:#000;
}
.labelNew{
    text-align: center;
    width:37px;
    height:17px;
    line-height:17px;
    background: #ff6702;
    color:white;
    left:-50px;
    top:44px;
}
.askPurchaser{
    border:1px solid #d3d3d3;
    height:135px;
}
.askPurchaser > textarea{
    height:100px;
}
.directionWords{
    border:1px solid #eee;
    background: #fef2f3;
}
#msgBox{padding:0;}
/*****************************匹配信息***************************************/


/*****************************响应信息列表***************************************/
/*.js-modules-message-myResponseList .js-datagrid > .table > thead{*/
/*background: #ff6702;*/
/*}*/
/*.js-modules-message-myResponseList .js-datagrid > .table > thead > tr > th{*/
/*color:white*/
/*}*/
/*.js-modules-message-myResponseList .js-datagrid > .table > tbody:nth-of-type(2n) > tr{background: #f5f5f5}*/
/*****************************响应信息列表***************************************/
/*****************************产品管理***************************************/
.uploadBox{
    border:1px solid #ff6702;
    width:auto;
    padding: 0 12px;
    height:35px;
    line-height:35px;
    text-align: center;
    color:#ff6702;
    cursor: pointer;
}
.uploadBoxBig{
    border:1px dashed #999999;
    width:auto;
    height:120px;
    line-height:120px;
    text-align: center;
    color:#ff6702;
    cursor: pointer;
}
/*****************************产品管理***************************************/

/***合同管理****/
.fef2f3-bg{background-color: #fef2f3;}
.wide-input{
    width: 538px;
    height: 34px;
    border: 1px solid #cccccc;
    padding: 0 8px;
}
.wide-input:focus{
    border: 1px solid #ff6702;
}
.prompt-name{
    width: 100px;
    text-align: right;
    font-size: 14px;
    display: inline-block;
}
.textBox{border:1px solid #ccc;border-radius: 5px}
.textBox textarea{border-radius: 5px}
.textBox p{background: #f6f6f6;height:35px;line-height: 35px;border-radius: 0 0 5px 5px}
.enclosure-button{
    display: inline-block;
    width: 132px;
    height: 34px;
    border: 1px solid #ff6702;
    line-height: 34px;
    cursor: pointer;
}
.filebg{
    background-color: #eff0f4;
    padding: 10px 5px;
    display: inline-block;
}
.contract-search.screen_search_box .screen_box dt input[type="button"]{
    margin-left: 14px;
}
.contract-toolbar .listButton{
    background-color: #ffffff;
    width: 11%;
}
.contract-word-cut{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
    /*display: inline-block;*/
    /*vertical-align: bottom;*/
}
.declareProductList .table_main table{margin:0 auto}
.declareProductList .screen_search_main{padding-left:10px;margin:30px 0;}
/**会员中心首页**/
#memberCenterHome .redLabel{width:20px;height:20px;line-height:20px;text-align:center;background: #f20000}

.add-filebg{ background: url("../images/addFileBg.png")no-repeat;}
.add-filebgBig{ background: url("../images/addFileBgBig.png")no-repeat; background-position: 37px 28px;}
.add-filebgBig >div:first-child {
    position: absolute;
    top: 35px;
    padding-left: 8px;
}
.add-filebgBig >div:last-child {
    top: 0px!important;
    width: 120px!important;
}
.jiehui .dropdown{width:80px!important;overflow-y:hidden!important;}

.fundListTable thead tr{line-height: 25px!important;}
.js-country {
    z-index: 10000 !important;
}
.upload-notice {
    position: relative;
    margin-left: 160px;
    margin-top: 18px;
}
.productList {
    position: fixed;
    top: 30%;
    background: #fff;
    border: 2px solid #ccc;
    z-index: 11111;
    width: 1000px;
    margin-left: 16px;
}
.addProduct-close {
    padding: 12px;
    float: right;
    color: #999;
    cursor: pointer;
}
    .addProduct-close:hover {
        color: #000;
    }
.added-product-list > div {
    /*display: inline-block;*/
}
.added-product-list > div > span {
    width: 160px;
    padding: 8px 12px;
    display: table-cell;
    border: 1px solid #999;
    border-left-width: 0;
    text-align: center;
    vertical-align: middle;
}
    .added-product-list > div > span:first-child { 
        border-left-width: 1px;
    }
#productsHtmlList > div > span {
    border-top-width: 0;
}
.deleteProduct:hover {
    opacity: 0.8;
}
.even-row > span {
    background-color: #fff;
}
.ver-error .error {
    left: 160px;
    top: 36px;
}
    .el0 .error { 
        left: 0;
    }    
    .credit-textarea-error .error {
        top: 220px;
    }
.contractEditUpload .cancel{margin-right: 273px}
.upload-plus-icon {
    font-size: 22px;
    vertical-align: -2px;
}

.bgcff6702hover:hover{color:#fd6702!important;}
.responsedd .cancel{right:-7px!important;}
#modules-commodityManage-addCommodity-editor #edui1{width:100%!important;}
.zIndex99 {
    z-index: 99 !important;
}

/*****************************开票人***************************************/
.drawer-iamge-box {
    display: table;
    width: 96%;
}
    .drawer-iamge-box > li {
        float: left;
        width: 200px;
        text-align: center;
    }

/*****************************一行代码 样式***************************************/
div[data-control-type=RadioBox], div[data-control-type=ComboBox], div[data-control-type=ComboBoxSecond] {
    display: inline-block;
    vertical-align: middle;
}
div[data-control-type=CheckboxBox] > label.error, div[data-control-type=RadioBox] > label.error {
    margin: 24px 0 0 10px;
}
div[data-control-type=Uploader] > label.error, div[data-control-type=RadioBox] > label.error {
    margin: 4px 0 0 4px;
}

.addList-productList {
    padding:14px;
    position: fixed;
    top:50%;
    margin-top: -225px;
    left:50%;
    margin-left: -600px;
    width:1200px;
    background: #fff;
    border: 2px solid #ccc;
    z-index: 3;
}
    .addList-productList > .list-elem > .js-datagrid {
        height: 240px;
        overflow: auto;
    }
    .addList-productList > .list-elem > .js-pagination {
        height: 80px;
        margin-top: -40px;
    }
    
.addList-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #ccc;
    left: 0;
    top: 0;
    opacity: 0.2;
}
.addList-showProductList {
    width: 1005px;
    display: table;
}